@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* brainhub font */

@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jacquard+24+Charted&display=swap');

 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body { 
    /* background-color: #2F4F4F; */
    /* background-color: #312e2e; */
    /* background-color: #00072d; */
    /* background-image: url("https://tse2.mm.bing.net/th?id=OIP.djs9mGfRplWKYqinBqqjjAHaDX&pid=Api&P=0&h=180"); */
    font-family: 'poppins', sans-serif;
} 
  
/* 1st page */

.header{
    /* overflow: hidden; */

}
nav .fa {
    display: none;
}

.header , image {
    min-height: 100vh; 
    width: 100%;
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(https://images.collegedunia.com/public/reviewPhotos/369496/inbound6449048373204272265.jpg?mode=cover); */
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(https://wallpaperaccess.com/full/4230797.jpg); */
    background-image: url("https://wallpapercave.com/wp/wp3855137.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    /* overflow: hidden; */
}

nav{
    border: 1px solid none;
    display: flex;
    padding: 0px 40px; 
    justify-content: space-between;
    align-items: center;
}   
 
.logo {
    border: 2px solid none;
    height: 120px;     
    width: 170px; 
    background-position: start;
}  

.left-side{
    color: #fff;
    border: 1px solid none;
    
    font-family: "Jacquard 12", system-ui;
    /* font-weight: 400; */
    font-size: 50px;
    margin-left: 170px;
    letter-spacing: 1px;
}
  
.navbar { 
    border: 2px solid none; 
    flex: 1;
    align-self: start;
    text-align: right; 
} 

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 20px 12px;
    position: relative;
    border: 2px solid none;
    
} 

.navbar ul li a {
    color: #fff; 
    text-decoration: none; 
}

.navbar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.main-text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);/*for align text centre*/
    text-align: center;
}

.main-text h1 {
    font-size: 62px;
} 

.main-text p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.burger{
    /* width: 100px; */
    display: none;
}

/* 2nd page */

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44366; 
    background: #f44366;
    transition: 1s; 
    color: white;
}

nav .fa{
    display: none;/*icon will be hidden for larger screen devices*/
}

.container { 
    box-sizing: border-box; 
    min-height: 100vh;  
    display: flex; 
    justify-content: space-evenly; 
    text-align: center;   
    gap: 20px;  
    border: 2px solid none;
    /* margin-bottom: 200px; */
/* /    background-image: url("https://tse2.mm.bing.net/th?id=OIP.djs9mGfRplWKYqinBqqjjAHaDX&pid=Api&P=0&h=180"); */
/* background-image: url("https://wallpapercave.com/wp/wp3855137.jpg"); */
background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url("https://wallpaperaccess.com/full/4230797.jpg");
/* above img - 2nd page */
    /* background-image: url("https://wallpaper.dog/large/20372204.jpg"); */
    /* background-color: #2F4F4F;b;uish */
    /* background-color: #daa520;/*yellowish */
    /* background-color: #253342;off black */
    /* background-color: #3d5a80;  */
    /* background-color: #354F52; */

    overflow: hidden;

   
    width: 100%;
    
    background-size: cover;
    background-position: center;
    position: relative;
}
 
.left-text {
    flex-basis: 30%;
    border: 2px solid none;
    padding-top: 200px;
}

.heading {
    font-size: 3rem;
    color: white;
    text-align: center;
}

.subheading {
    color: white;
    margin-top: 10px;
    text-align: center;
}
 

.gallary {
    flex-basis: 50%;
    display: grid;
    margin-top: 70px;
    gap: 8px;/*row m gap aayegi*/
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
} 
  
.box { 
    background-size: cover;/*puri ki puri image dikhegi*/
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    cursor: pointer;
}   
 
.box:hover {  
    background-color: #999;  
    background-position: center;
    box-shadow: 0 0 4px #fff;
} 

.row {   
    grid-row: span 2;
} 
 
.col { 
    grid-column: span 2;
}  

/* #box-2 {
   
    transition: 3s ease-in-out;
} 

#box-6 { 
    transition: 2s ease-in-out;
} */


#box-8 { 
    grid-area: 3 / 3 / 5 /  4; 
} 

button {
    margin: 10px;
    padding: 10px 20px;
    background: transparent;
    /* color: #daa520;  */ 
    color: white;
    font-size: 16px; 
    font-weight: 800; 
    letter-spacing: 1px;
    border: white; 
    transition: 0.5s;  
}    
   
button:hover{    
    /* HOT  */
    /* display: none; */
    background-color: transparent; 
    /* box-shadow: 0 0 4px red;  */
    box-shadow: 0 0 4px none;
    /* color: yellow; */
    color: transparent;
}